/* Flow UI - CSS component Library by Renuka Paturkar */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --primary-color: #5b21b6;
  --white-color: #f9fafb;
  --red-color: #dc2626;
  --green-color: #059669;
  --blue-color: #2563eb;
  --light-blue-color: #3b82f6;
  --black-color: #1f2937;
  --dark-grey-color: #374151;
  --light-grey-color: #6b7280;
  --offwhite-color: #d1d5db;
  --grey-color: #9ca3af;
  --modalbody-color: #e5e7eb;
  --alice-blue-color: aliceblue;
}

h1,
h2 {
  color: var(--dark-grey-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.div-class {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
}

.list-non-bullet {
  list-style: none;
  padding: 1rem;
}

.list-inline {
  display: inline;
  padding: 1rem;
  color: var(--white-color);
}

.navigation {
  max-width: 100%;
  height: 4rem;
  background-color: var(--primary-color);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.nav-demo {
  width: 90%;
  height: 4rem;
  background-color: var(--primary-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-weight: normal;
  font-size: 2rem;
  padding: 2rem;
  color: var(--white-color);
  position: relative;
}
.logo-icon {
  height: 3rem;
  width: 3rem;
}

.logo-name {
  font-size: 3rem;
}
.flex-container {
  display: flex;
  font-size: 1rem;
}

.aside-container {
  max-width: 200px;

  height: 90vh;
  padding-top: 2rem;
  padding-left: 2rem;
  overflow: auto;
}

.content {
  width: 90%;
  padding-left: 2rem;
  padding-top: 2rem;
  height: 90vh;

  overflow-y: scroll;
  scroll-behavior: smooth;
}

.iframe-div {
  margin: 0 auto;
  text-align: left;
  max-width: 100%;

  padding: 1rem;
}

/* components */
/* alert */
.alert {
  background-color: var(--alice-blue-color);
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  border-radius: 10px;
  margin: 0.5rem;
}

.alert-icon {
  padding: 0.5rem;
}

.alert-red {
  background-color: var(--red-color);
  color: var(--white-color);
}

/* Avatar */
.avatar {
  border-radius: 50%;
}

.avatar-regular {
  width: 5rem;
  height: 5rem;
}

.avatar-medium {
  width: 4rem;
  height: 4rem;
}

.avatar-small {
  width: 3rem;
  height: 3rem;
}

/* Badges */

.badge {
  position: relative;
  margin: 0;
  padding: 0;
}

.icon-badge {
  width: 3rem;
  height: 3rem;
}
.badge-icon-notify {
  position: absolute;
  background-color: var(--red-color);
  border-radius: 70%;
  padding: 0.2rem;
  color: var(--white-color);
  bottom: 0.4rem;
  left: 1.8rem;
  font-size: 0.7rem;
  height: 10px;
  width: 10px;
}

.avatar-badge {
  width: 3rem;
  height: 3rem;
  position: relative;
}
.avatar-badge-status {
  padding: 0.5rem;
  position: absolute;
  border-radius: 50%;
  left: 2rem;
  top: 0.2rem;
}

.avatar-active {
  background-color: var(--green-color);
}
.avatar-inactive {
  background-color: var(--light-grey-color);
}

/* Buttons */

.btn {
  padding: 1rem;
  width: 6.5rem;
  border-radius: 0.5rem;
  font-weight: normal;
  font-size: 1rem;
  border: none;
  color: var(--white-color);
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.btn-primary-hover:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.btn-primary {
  background-color: var(--light-blue-color);
}

.btn-secondary {
  width: 7.5rem;
  background-color: var(--grey-color);
}
.btn-secondary-hover:hover {
  background-color: var(--light-grey-color);
  color: var(--white-color);
}

.btn-dark {
  background-color: var(--dark-grey-color);
}
.btn-dark-hover:hover {
  background-color: var(--black-color);
}

.btn-outline {
  border: 1px solid var(--blue-color);
  background-color: transparent;
  color: var(--blue-color);
}

.btn-secondary-outline {
  width: 7.5rem;
  background-color: transparent;
  color: var(--light-grey-color);
  border: 1px solid var(--grey-color);
}

.iconname {
  width: 20px;
  height: 15px;
  align-self: flex-end;
}

.icon {
  left: 50%;
  width: 25px;
  height: 25px;
  padding: 10px;
}

.btn-icon {
  padding: 1rem;
  background-color: var(--dark-grey-color);
  color: var(--white-color);
  border: none;
  border-radius: 50%;
  outline: none;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
}
.btn-icon-hover:hover {
  background-color: var(--light-grey-color);
}

/* Card */
.card-container {
  display: flex;
}
.card {
  border: 1px solid var(--offwhite-color);
  justify-content: left;
  width: 15rem;
  height: 20rem;
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

.card-img {
  width: 15rem;
  height: 14rem;
}

.card-badge {
  display: inline-block;
  background-color: #60a5fa;
  position: absolute;
  color: var(--offwhite-color);
  top: 1rem;
  left: 1rem;
  font-size: xx-small;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  box-shadow: 1px 1px var(--offwhite-color);
  font-style: italic;
}

.card-horizontal {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--offwhite-color);
  width: 22rem;
  height: 10rem;
  position: relative;
}

.card-img-horizontal-container {
  width: 12rem;
  height: 10rem;
  object-fit: cover;
}

.card-img-horizontal {
  max-width: 100%;
  height: 100%;
}

.card-overlay-container {
  opacity: 0.5;
}

.card-overlay {
  position: absolute;
  color: var(--red-color);
  top: 10rem;
  left: 5rem;
}

.card div {
  padding: 0.3rem;
}

.strikethrough {
  text-decoration: line-through;
}
.offer-class {
  color: var(--green-color);
}

/* Input */

.icon-div {
  position: relative;
  margin-top: 10px;
}
.input-icon {
  width: 2rem;
  height: 2.1rem;
  background-color: var(--light-grey-color);
  padding: 0.4rem;
  position: absolute;
  top: 0.8px;
  color: var(--white-color);
}

.input {
  width: 100%;
  max-width: 70%;
  height: 2rem;
  outline: none;
  font-family: "Montserrat", sans-serif;
  border: 0.5px solid var(--light-grey-color);
  padding: 0.4rem;
}

.input-outline {
  border-radius: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
}

.input-error {
  border: 1px solid var(--red-color);
  border-radius: 5px;
}
.input-error-text {
  color: var(--red-color);
}

/* Responsive Images */

.img {
  width: 100%;
}

/* List  */
.list-item {
  width: 100%;
  max-width: 70%;
  padding: 1rem;
  border: 1px solid var(--black-color);
  list-style: none;
}

.list-spaced {
  margin: 1rem;
}

/* Modal */

.modal {
  width: 100%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black-color);
  padding: 1rem;
  border-radius: 10px;
}

.modal-heading {
  font-weight: bolder;
  font-size: 20px;
  padding: 1rem;
}

.modal-body {
  justify-self: auto;
  text-align: left;
  padding: 1rem;
  background-color: var(--modalbody-color);
  border-radius: 10px;
}

.modal-btn {
  padding: 1rem;
  text-align: right;
}

@media (max-width: 768px) {
  .img-large {
    width: 60%;
    padding: 0;
  }

  .flex-container {
    flex-direction: column;
  }

  .nav-demo {
    width: 80%;
  }
  .heading {
    position: relative;
    padding-top: 1rem;
  }
  .logo-name {
    display: none;
  }
  .logo-icon {
    text-align: left;
  }
  .aside-container {
    display: none;
  }
  .iframe-div {
    overflow-x: scroll;
    padding: 0.3rem;
  }
}
